img{
    height: 300px;
    justify-content: center;
}
.img-top{
    max-width: 500px;
    height: auto;
    display: block;
    margin: 0 auto;
    width: 100%;
    
}
.img-card{
    height: 200px;
    display: block;
    margin: 0 auto;
    width: 100%;
}


