<!-- 
<div class="container pt-4">
    <div class="row">
        <div class="col-12">
            <div class="card shadow rounded border-white">
                <div class="card-body">
                  <div class="row">
                    <div class="col-5">
                      <h5 class="card-title ">Productos típicos</h5>
                      <p class="card-text ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ipsum rem iure, quas quod obcaecati soluta eum nemo omnis error libero iusto, consectetur repellat ipsam harum neque tempora, vel deleniti..</p>
                    </div>
                    <div class="col-7">
                      <img class="img-top" src="../../../../assets/productos-tipicos/640px-Mercado_en_la_ciudad_de_Sucre_Bolivia (1).jpg" alt="">
                    </div>
                    
                  </div>
                  
                </div>
              </div>
        </div>
    </div>
</div> -->

<div class="container py-3">
  <div class="row d-flex justify-content-center">
    <div
      class="col-12 col-md-6 col-lg-4 d-flex justify-content-center align-items-md-start"
    >
      <div class="card shadow bg-body rounded border-white mb-5">
        <div class="card-body mx-0 px-0 pt-0 ">
          <div class=" items-img rounded-top"  [ngStyle]="{'background-image': 'url(../../../../assets/productos-tipicos/chuno-andino_jpg.webp)'}"></div>
          <div class="p-2">
            <div class="d-grid ">
              
                <button class="card-title btn btn-danger rounded-pill mx-5" type="button"  >Chuño</button>
              
              
            </div>
            <p class="card-text">
              El chuño es una patata comun, que mediante un proceso de
              liofilizacion natural se transforma y sirve para alargar su
              consumo en el tiempo llegando a poder ser consumido con sus mismas
              cualidades organolepticas hasta...
            </p>
            <!-- <a [routerLink]="['']" class="">...leer más</a> -->
          </div>
        </div>
      </div>
    </div>

    <div
      class="col-12 col-md-6 col-lg-4 d-flex justify-content-center align-items-md-start"
    >
      <div class="card shadow bg-body rounded border-white mb-5">
        <div class="card-body mx-0 px-0 pt-0">
          <div class=" items-img rounded-top" 
                style='background-image:url("../../../../assets/productos-tipicos/papalisa.jpg")'>
                <br />
                
          </div>
            
  
          <div class="p-2">
            <div class="d-grid">
              <button class="card-title btn btn-danger rounded-pill mx-5" type="button">Papalisa</button>
            </div>
            
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore,
              delectus placeat? Odit pariatur totam magnam, dicta labore illo
              quod velit similique voluptatibus laudantium suscipit dolor ut
              veritatis voluptas fugit at!
            </p>
            <!-- <a href="#" class="">...leer más</a> -->
          </div>
        </div>
      </div>
    </div>

    <div
      class="col-12 col-md-6 col-lg-4 d-flex justify-content-center align-items-md-start"
    >
      <div class="card shadow bg-body rounded border-white mb-5">
        <div class="card-body mx-0 px-0 pt-0">
          <div class=" items-img rounded-top" 
          style='background-image:url("../../../../assets/productos-tipicos/quinua_630.jpg")'>
          <br />
          </div>

          <div class="p-2">
            <div class="d-grid">
              <button class="card-title btn btn-danger rounded-pill mx-5" type="button">Quinoa</button>
            </div>
            <p class="card-text">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus
              odio veritatis culpa itaque, doloribus aliquam asperiores soluta
              magni debitis quod. Exercitationem non dolorum explicabo aliquid
              doloribus nemo
            </p>
            <!-- <a href="#" class="">...leer más</a> -->
          </div>
        </div>
      </div>
    </div>

    <div
      class="col-12 col-md-6 col-lg-4 d-flex justify-content-center align-items-md-start"
    >
      <div class="card shadow bg-body rounded border-white mb-5">
        <div class="card-body mx-0 px-0 pt-0">

          <div class=" items-img rounded-top" 
          style='background-image:url("../../../../assets/productos-tipicos/Chia.jpg")'>
          <br />
          </div>

          <div class="p-2">
            <div class="d-grid">
              <button class="card-title btn btn-danger rounded-pill mx-5" type="button">Chía</button>
            </div>
            <p class="card-text">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque,
              cumque praesentium eos quisquam quidem necessitatibus corrupti
              suscipit molestias iste eum adipisci at labore odit earum,
              deleniti ut, dolor dicta dignissimos!
            </p>
            <!-- <a href="#" class="">...leer más</a> -->
          </div>
        </div>
      </div>
    </div>

    <div
      class="col-12 col-md-6 col-lg-4 d-flex justify-content-center align-items-md-start"
    >
      <div class="card shadow bg-body rounded border-white mb-5">
        <div class="card-body mx-0 px-0 pt-0">

          <div class=" items-img rounded-top" 
          style='background-image:url("../../../../assets/productos-tipicos/mocochinchi.jpg")'>
          <br />
          </div>

          <div class="p-2">
            <div class="d-grid">
              <button class="card-title btn btn-danger rounded-pill mx-5" type="button">Mocochinchi</button>
            </div>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore,
              delectus placeat? Odit pariatur totam magnam, dicta labore illo
              quod velit similique voluptatibus laudantium suscipit dolor ut
              veritatis voluptas fugit at!
            </p>
            <!-- <a href="#" class="">...leer más</a> -->
          </div>
        </div>
      </div>
    </div>

    <div
      class="col-12 col-md-6 col-lg-4 d-flex justify-content-center align-items-md-start"
    >
      <div class="card shadow bg-body rounded border-white mb-5">
        <div class="card-body mx-0 px-0 pt-0">
          <div class=" items-img rounded-top" 
          style='background-image:url("../../../../assets/productos-tipicos/locoto.jpg")'>
          <br />
          </div>
        
          <div class="p-2">
            <div class="d-grid">
              <button class="card-title btn btn-danger rounded-pill mx-5" type="button">Locoto</button>
            </div>
            <p class="card-text">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus
              odio veritatis culpa itaque, doloribus aliquam asperiores soluta
              magni debitis quod. Exercitationem non dolorum explicabo aliquid
              doloribus nemo
            </p>
            <!-- <a href="#" class="">...leer más</a> -->
          </div>
        </div>
      </div>
    </div>

    <div
      class="col-12 col-md-6 col-lg-4 d-flex justify-content-center align-items-md-start"
    >
      <div class="card shadow bg-body rounded border-white mb-5">
        <div class="card-body mx-0 px-0 pt-0">
          <div class=" items-img rounded-top" 
          style='background-image:url("../../../../assets/productos-tipicos/Choclo1R.webp")'>
          <br />
          </div>
          <div class="p-2">
            <div class="d-grid">
              <button class="card-title btn btn-danger rounded-pill mx-5" type="button">Choclo</button>
            </div>
            <p class="card-text">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque,
              cumque praesentium eos quisquam quidem necessitatibus corrupti
              suscipit molestias iste eum adipisci at labore odit earum,
              deleniti ut, dolor dicta dignissimos!
            </p>
            <!-- <a href="#" class="">...leer más</a> -->
          </div>
        </div>
      </div>
    </div>

    <div
      class="col-12 col-md-6 col-lg-4 d-flex justify-content-center align-items-md-start"
    >
      <div class="card shadow bg-body rounded border-white mb-5">
        <div class="card-body mx-0 px-0 pt-0">
          <div class=" items-img rounded-top" 
          style='background-image:url("../../../../assets/productos-tipicos/Chia.jpg")'>
          <br />
          </div>

          <div class="p-2">
            <div class="d-grid">
              <button class="card-title btn btn-danger rounded-pill mx-5" type="button">Quirquiña</button>
            </div>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore,
              delectus placeat? Odit pariatur totam magnam, dicta labore illo
              quod velit similique voluptatibus laudantium suscipit dolor ut
              veritatis voluptas fugit at!
            </p>
            <!-- <a href="#" class="">...leer más</a> -->
          </div>
        </div>
      </div>
    </div>

    <div
      class="col-12 col-md-6 col-lg-4 d-flex justify-content-center align-items-md-start"
    >
      <div class="card shadow bg-body rounded border-white mb-5">
        <div class="card-body mx-0 px-0 pt-0">
          <div class=" items-img rounded-top" 
          style='background-image:url("../../../../assets/productos-tipicos/semillas_lino.jpg")'>
          <br />
          </div>
         
          <div class="p-2">
            <div class="d-grid">
              <button class="card-title btn btn-danger rounded-pill mx-5" type="button">Semillas de lino</button>
            </div>
            <p class="card-text">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus
              odio veritatis culpa itaque, doloribus aliquam asperiores soluta
              magni debitis quod. Exercitationem non dolorum explicabo aliquid
              doloribus nemo
            </p>
            <!-- <a href="#" class="">...leer más</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- el siguiente codigo es de la autoria de la foto principal del mercado -->

<!-- De &lt;a rel=&quot;nofollow&quot; class=&quot;external text&quot;
href=&quot;https://www.flickr.com/people/91226097@N00&quot;&gt;Cristian
Ordenes&lt;/a&gt; - &lt;a rel=&quot;nofollow&quot; class=&quot;external
text&quot;
href=&quot;https://www.flickr.com/photos/91226097@N00/1277658472/&quot;&gt;Mercado
de Sucre&lt;/a&gt;,
<a
  href="https://creativecommons.org/licenses/by/2.0"
  title="Creative Commons Attribution 2.0"
  >CC BY 2.0</a
>, <a href="https://commons.wikimedia.org/w/index.php?curid=3232779">Enlace</a>
-->
