<div class="container bg-food bg ">
    <div class="row align-content-star justify-content-center pb-5 ">
        <div class="col-11  py-4 " style="max-width: 450px;">
            <div class="card shadow  h-100" style="background-color: #F9D949;">
                <div class=" text-center row d-flex justify-content-between">
                    <div class="col-2">

                    </div>
                    <div class="col-8 col-sm-7 p-0">
                        <h3>Crea tu cuenta</h3>
                    </div>
                    <div class="col-2 ps-0 ps-sm-2">
                        <a  class=' text-black  m-1 '
                        style="font-size: 1.5rem;"
                            [routerLink]="['']">
                            <i class="bi bi-x-lg"></i>
                        </a>
                    </div>  
                </div>
                <div class="card-body">
                    <form [formGroup] ="signupForm" (ngSubmit)="send()"  class="g-3">
                        <div class="form-group my-3">
                            <input  
                                    type="text" 
                                    formControlName="nombre"
                                    class="form-control" 
                                    placeholder="your name" >
                                    <span class="form-text text-danger mt-0 mb-0"
                                          *ngIf="required('nombre') && submitted">Este campo no tiene que estar vacío</span>
                                    
                        </div>
                        <div class="form-group my-3">
                            <input  
                                    type="email" 
                                    formControlName="email"                                                                     
                                    class="form-control" 
                                    placeholder="exemple@mail.com" >
                                    <span class="form-text text-danger mt-0 mb-0"
                                          *ngIf="required('email') && submitted">Por favor introduzca un email correcto</span>
                                    
                        </div>
                        <div class="form-group my-3">
                            <input 
                                    type="password" 
                                    formControlName="password"                                   
                                    class="form-control" 
                                    placeholder="Password" >
                                    <span class="form-text text-danger mt-0 mb-0"
                                          *ngIf="required('password') && submitted">La contraseña tiene que tener como mínimo 6 caracteres</span>
                        </div>
                        <div class="text-center col-12">
                            <button  type="submit" class="btn btn-success btn-block" >Create Account</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
