<!-- <p>navbar works!</p> -->


<div class="container menu">
    <div class="row top shadow p-0 m-0">
    <div class="navbar  col-12 px-3">
        <div class="logo pe-2">
            <img class="img-logo"src="../../../assets/La_Caserita.svg" alt="">
        </div>
        <ul class="links ">
            
            <li><a [routerLink]="['']">Home</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Recetas
                </a>
                <div class="dropdown-menu m-2 p-2" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="['recipes']" (click)="selectOption('Sopas')"> Todos</a>
                    <a class="dropdown-item" [routerLink]="['aperitivos']" (click)="selectOption('Aperitivos')"> Aperitivos</a>
                    <a class="dropdown-item" [routerLink]="['segundos']" (click)="selectOption('Segundos')"> Segundos</a>
                    <a class="dropdown-item" [routerLink]="['sopas']" (click)="selectOption('Sopas')"> Sopas</a>
                </div>
            </li>
            
            
            <li><a [routerLink]="['favorites']">Favoritos</a></li>
            <li><a [routerLink]="['products']">Productos típicos</a></li>
            <li><a [routerLink]="['']"><i class="bi bi-search"></i></a></li>
        </ul>
        
            
                <a class=" person"
                   *ngIf="!isLogged"
                   [routerLink]="['account/login']"><i class="bi bi-person"></i> Acceder</a>
            
            
                <a  *ngIf="isLogged" 
                    class=' m-1 exit'
                    (click)="loginOut()" 
                    [routerLink]="['account/login']">
                Cerrar sesión <i class="bi bi-box-arrow-right"></i>
                </a>
            

          <!-- poner el registro como un llamado en suscripcion -->
        <!--   <a  *ngIf="!isLogged" class='action_btn  '
          [routerLink]="['account/register']">
          Registrarse
          </a> -->

        <div class="toggle_btn " (click)="showPanel()">
            <i class="bi" [ngClass]="child ? 'bi-x-lg' : 'bi-list'"></i>

            
        </div>



        
    </div>

    <div class="container border rounded d-flex justify-content-end p-0 m-0" style="background-color: #E9EFC0;">
        <div class="row ">
            <div class="col-12 ">
                <div  *ngIf="child" class="dropdown_menu " >
                    <li><a [routerLink]="['']" (click)="showPanel()" >Home</a></li>
                    <li><a [routerLink]="['recipes']" (click)="showPanel()">Recetas</a></li>
                    <li><a [routerLink]="['favorites']" (click)="showPanel()">Favoritos</a></li>
                    <li><a [routerLink]="['products']" (click)="showPanel()">Productos típicos</a></li>
                    <li *ngIf="!isLogged"><a [routerLink]="['account/login']" class="action_btn" (click)="showPanel()" >Login</a></li>
                    <li>
                        <a  *ngIf="isLogged" 
                    (click)="loginOut()"
                    [routerLink]="['account/login']">
                Salir <i class="bi bi-box-arrow-right"></i>
                </a>
                    </li>
                    
                </div>
            </div>
    
        </div>
    
    </div>  


    </div>
</div>


<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
      Recetas
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#" (click)="selectOption('Aperitivos')">Aperitivos</a>
      <a class="dropdown-item" href="#" (click)="selectOption('Segundos')">Segundos</a>
      <a class="dropdown-item" href="#" (click)="selectOption('Sopas')">Sopas</a>
    </div>
  </div>
<!--  <div class="container d-flex justify-content-end pt-5">
    <div class="row pt-5">
        <div class="col-12 pt-1">
            <div  *ngIf="child" class="dropdown_menu" >
                <li><a [routerLink]="['']" (click)="showPanel()" >Home</a></li>
                <li><a [routerLink]="['recipes']" (click)="showPanel()">Recetas</a></li>
                <li><a [routerLink]="['favorites']" (click)="showPanel()">Favoritos</a></li>
                <li><a [routerLink]="['products']" (click)="showPanel()">Productos típicos</a></li>
                <li><a [routerLink]="['account/login']" class="action_btn" (click)="showPanel()">Login</a></li>
                
            </div>
        </div>

    </div>

</div>  --> 
