<!-- <p>navbar works!</p> -->


<div class="container menu">
    <div class="row top">
    <div class="navbar col-12 ">
        <div class="logo pe-2">
            <img class="img-logo"src="../../../assets/La_Caserita.svg" alt="">
        </div>
        <ul class="links ">
            
            <li><a [routerLink]="['']">Home</a></li>
            <li><a [routerLink]="['recipes']">Recetas</a></li>
            <li><a [routerLink]="['favorites']">Favoritos</a></li>
            <li><a [routerLink]="['products']">Productos típicos</a></li>
            <li><a [routerLink]="['']"><i class="bi bi-search"></i></a></li>
        </ul>
        <a class="action_btn"
             *ngIf="!isLogged"
            [routerLink]="['account/login']">Login</a>
            <a  *ngIf="isLogged" class='action_btn  m-1 '
          (click)="loginOut()" [routerLink]="['']">
          Log out
          </a>

          <!-- poner el registro como un llamado en suscripcion -->
        <!--   <a  *ngIf="!isLogged" class='action_btn  '
          [routerLink]="['account/register']">
          Registrarse
          </a> -->

        <div class="toggle_btn " (click)="showPanel()">
            <span class="navbar-toggler-icon "></span>
        </div>



        
    </div>

    <div class="container d-flex justify-content-end">
        <div class="row ">
            <div class="col-12 ">
                <div  *ngIf="child" class="dropdown_menu " >
                    <li><a [routerLink]="['']" (click)="showPanel()" >Home</a></li>
                    <li><a [routerLink]="['recipes']" (click)="showPanel()">Recetas</a></li>
                    <li><a [routerLink]="['favorites']" (click)="showPanel()">Favoritos</a></li>
                    <li><a [routerLink]="['products']" (click)="showPanel()">Productos típicos</a></li>
                    <li><a [routerLink]="['account/login']" class="action_btn" (click)="showPanel()">Login</a></li>
                    
                </div>
            </div>
    
        </div>
    
    </div> 


    </div>
</div>

<!-- <div class="container d-flex justify-content-end">
    <div class="row ">
        <div class="col-12 ">
            <div  *ngIf="child" class="dropdown_menu " >
                <li><a [routerLink]="['']" (click)="showPanel()" >Home</a></li>
                <li><a [routerLink]="['recipes']" (click)="showPanel()">Recetas</a></li>
                <li><a [routerLink]="['favorites']" (click)="showPanel()">Favoritos</a></li>
                <li><a [routerLink]="['products']" (click)="showPanel()">Productos típicos</a></li>
                <li><a [routerLink]="['account/login']" class="action_btn" (click)="showPanel()">Login</a></li>
                
            </div>
        </div>

    </div>

</div>  -->
