/*   .img-back{
    background-image: url('../assets/pared-azul-pastel-fondo-producto-piso-madera.jpg') ;
    background-size: cover;
   
    background-position:bottom;
   
    
}   */

.content-wrapper {
    min-height: calc(100% - 100px); /* Ajusta este valor según la altura de tu footer */
    padding-top: 110px; 
    /* Aquí puedes agregar más estilos para el contenido principal de la página */
  }