.fav {
    font-size: 1.2rem;
    cursor: pointer;
    height: 30px;
    
}
.save-icon{
    position: absolute;
    font-size: 1.2rem;
    color:whitesmoke;
    cursor: pointer;
}
.custom-spinner {
    width: 1.5rem;
    height: 1.5rem;
}
.card-img-top {
    height: 120px; /* Ajusta aquí la altura deseada */
    object-fit: cover;
}