
<div class="container">
    <div class="row justify-content-center"
          *ngIf="realFavList">
      <!-- Repeat this card block for each recipe in your JSON file -->
      <div class="col-12  col-lg-8 mb-4 card-recipe"
            *ngFor=" let recipe of realFavList; let i=index" >
        <div class="card ">
          <div class="row no-gutters">
            <div class="col-8">
              <div class="card-body p-2">
                <h5 class="card-title">{{recipe.nombre}}</h5>
                <!-- <p class="card-text">{{recipe.descripcion}}</p>  -->
                <div class="d-flex ">
                    <p class="card-text me-3"><i class="bi bi-person"></i>{{recipe.porciones}}</p>
                    <p class="card-text"><i class="bi bi-clock"></i> {{recipe.tiempoPreparacion}} min</p>
                  </div>
              </div>
            </div>
            <div class="col-4 d-flex">
              <img class="recipe-img  img-fluid" src='{{recipe.imagen}}' class="card-img img-fluid float-right h-100" alt="Imagen de la receta">
              <div class="fav d-flex pt-0">
                <i [ngClass]="{'bi-bookmark-fill pt-0': realFavList[i].isFav, 'bi-bookmark': !realFavList[i].isFav}" (click)="toggleIcon(i)"></i>
              </div>
              
              
            </div>
            
              
           
          </div>
        </div>
      </div>
      <!-- End of card block -->
      <div class="col-8 p-3 ">
        <div>
          <h4>{{favList.length}} de treinta recetas guardadas gratuitamente</h4>
        </div>
        <div class="progress">
          <div class="progress-bar bg-warning" role="progressbar" [style.width.%]="percentage" aria-valuemin="0" aria-valuemax="30"></div>
        </div>
        
        
      </div>
      
      
    </div>
  </div>
  




