/* .container{
    /* background-color: black;  */
    /* background-image: url('../../../../assets/ORFF0J0.jpg');  
}  */
/* .card {
    background-image: url('../../../../assets/pasta-espagueti-e-ingredientes-frescos-sobre-mesa-blanca.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
} */

.btn {
    width: 200px;
    margin-top: 1rem;
  }

.img-home{
     max-width: 550px; 
    height: auto;
    display: block;
    margin: 0 auto;
    width: 100%;
    /* padding: 20px; */
}



.trending-cards {
    position: relative;
}

.titles {
    color: aliceblue;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: rgba(255, 255, 255, 0.7); */
    padding: 10px;
    margin: 0;
    text-align: center;
    width: 100%;
}
.card-img-top {
    height: 150px; /* Ajusta aquí la altura deseada */
    object-fit: cover;
}

