<!-- <p>home works!</p> -->

<div class="container py-4 ">
  <div class="row pb-5">
    <div class="col-12">
      <div class="card shadow border-white">
        <div class="card-body">
          <div class="row">
            <div class=" order-2 order-md-1 col-md-5">
              <h5 class="card-title pt-2">Silpancho</h5>
              <p class="card-text">
                "Un mundo lleno de sabor a un clic de distancia: ¡Únete y descubre la auténtica gastronomía boliviana!.
                Esta y muchas recetas más te esperan"
              </p>
              <div class="text-center d-flex justify-content-center align-items-center pt-5">
                <button type="button" class="btn btn-success rounded-pill">Únete Ahora</button>
              </div>
            </div>
            <div class="order-1 order-md-2 col-md-7">
              <img class="img-home img-fluid" src="../../../../assets/imagenes_recetas/silpancho-image_web.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


 <!--  Aqui van las tarjetas -->
 

  <div class="row p-0 d-flex justify-content-center text-start">
    <div class="col-12 text-start mb-4">
      <h2>Recetas más populares</h2>
    </div>
    <div class="col-8 col-sm-6 col-md-3 p-2">
      <div class="card shadow trending-cards">
        <img class="card-img-top img-fluid rounded" src="../../../../assets/imagenes_recetas/salteña.jpg" alt="Imagen 1" />
          <h6 class="card-title titles text-start">Salteña</h6>
        
      </div>
    </div>
    <div class="col-8 col-sm-6 col-md-3 p-2">
      <div class="card shadow trending-cards">
        <img class="card-img-top img-fluid rounded" src="../../../../assets/imagenes_recetas/sopademani.jpg" alt="Imagen 2" />
        <h6 class="card-title titles text-start">sopa de mani</h6>
        
      </div>
    </div>
    <div class="col-8 col-sm-6 col-md-3 p-2">
      <div class="card shadow trending-cards">
        <img class="card-img-top img-fluid rounded" src="../../../../assets/imagenes_recetas/picante-de-pollo.jpg" alt="Imagen 3" />
        <h6 class="card-title titles text-start">Picante de pollo</h6>
        
      </div>
    </div>
    <div class="col-8 col-sm-6 col-md-3 p-2">
      <div class="card shadow trending-cards">
        <img class="card-img-top img-fluid rounded " src="../../../../assets/imagenes_recetas/silpancho-image_web.jpg" alt="Imagen 4" />
        <h6 class="card-title titles text-start">Silpancho</h6>
      </div>
    </div>
  </div>

  <!-- Aqui va otro componente de publicidad o suscrpcion -->

  <div class="row pb-5 pt-5">
    <div class="col-12 text-start pt-5">
      <h2>¿No te has registrado todavia?</h2>
    </div>
    <div class="col-12 pt-5">
      <div class="card border-white">
        <div class="card-body">
          <div class="row">
            <div class=" order-2  col-md-6">
              <h5 class="card-title pt-2">Registrate y accede a las ventajas de La caserita</h5>
              

              <ul style="list-style: none;">
                <li><i class="bi bi-check-lg text-success"></i> Guarda y accede a tus recetas favoritas</li>
                <li><i class="bi bi-check-lg text-success"></i> Consulta las recetas más populares</li>
                <li><i class="bi bi-check-lg text-success"></i> Accede rapidamente a las recetas nuevas</li>
              </ul>

              <div class="text-center d-flex justify-content-center align-items-center pt-5">
                <button type="button" class="btn border-5 border-success rounded-pill">Suscríbete</button>
              </div>
            </div>
            <div class="order-1  col-md-6 d-flex justify-content-center">
              <img class="img-home img-fluid"
              style="max-width: 300px;"
               src="../../../../assets/La_Caserita.svg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>






















<!--El codigo de debajo funciona pero no es responsive
  
  
  <div class="container py-4">
  <div class="row pb-5">
    <div class="col-12">
      <div class="card shadow border-white">
        <div class="card-body">
          <div class="row">
            <div class="col-5 ">
              <h5 class="card-title">Silpancho</h5>
              <p class="card-text">
                "Un mundo lleno de sabor a un clic de distancia: ¡Únete y
                descubre la auténtica gastronomía boliviana!.
                Esta y muchas recetas más te esperan"
              </p>
              <div class="text-center d-flex  justify-content-center align-items-center pt-5">
                <button type="button" class="btn btn-success rounded-pill">Únete Ahora</button>
              </div>
            </div>
            <div class="col-7">
              <img
                class="img-home"
                src="../../../../assets/imagenes_recetas/silpancho-image_web.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
