<!-- <p>home works!</p> -->
<div class="container pt-4 ">
    <div class="row">
        <div class="col12">
            <div class="card shadow border-white">
                <div class="card-body">
                  <div class="row">
                    <div class="col-5">
                      <h5 class="card-title ">Silpancho</h5>
                      <p class="card-text ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ipsum rem iure, quas quod obcaecati soluta eum nemo omnis error libero iusto, consectetur repellat ipsam harum neque tempora, vel deleniti..</p>
                    </div>
                    <div class="col-7">
                      <img class="img-home" src="../../../../assets/imagenes recetas/silpancho-image_web.jpg" alt="">

                    </div>
                  </div>
                  
                </div>
              </div>
        </div>

    </div>

</div>
