<!-- <p>home works!</p> -->
<div class="container">
    <div class="row">
        <div class="col12">
            <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-5">
                      <h5 class="card-title ">Salteña</h5>
                      <p class="card-text ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ipsum rem iure, quas quod obcaecati soluta eum nemo omnis error libero iusto, consectetur repellat ipsam harum neque tempora, vel deleniti..</p>
                    </div>
                    <div class="col-7">
                      <img src="../../../../assets/imagenes recetas/salteña.jpg" alt="">

                    </div>
                  </div>
                  
                </div>
              </div>
        </div>

    </div>

</div>
