
<div class="container py-3">

  <!-- Aqui va el loading -->
  <div class="text-center text-black p-5 m-5" *ngIf="!loading;else divRecipes">
    
      <span class="spinner-border spinner-border-sm  custom-spinner" role="status" aria-hidden="true"></span>
      
    

  </div>

  <ng-template #divRecipes>

    <div class="row justify-content-center">
      <!-- Repeat this card block for each recipe in your JSON file -->
      <div class="col-12  col-lg-8 mb-4 card-recipe"
            [routerLink]="['/recipe/' ,recipe.id]" 
            *ngFor=" let recipe of recipesList; let i=index" >
        <div class="card shadow border-bottom-0 border-white">
          <div class="row no-gutters">
            <div class="col-8">
              <div class="card-body p-2 ">
                <h5 class="card-title">{{recipe.nombre}}</h5>
                <p class="card-text">{{recipe.descripcion | limitWords:17}}</p> 
                <div class="d-flex ">
                    <p class="card-text me-3"><i class="bi bi-person"></i>{{recipe.porciones}}</p>
                    <p class="card-text"><i class="bi bi-clock"></i> {{recipe.tiempoPreparacion}} min</p>
                  </div>
              </div>
            </div>
            <div class="col-4 m-0 p-0">
              <img  src='{{recipe.imagen}}'
                    Onerror="this.src='../../../../assets/imagenes_recetas/plato.jpg'"
                    class="card-img img-fluid float-right h-100"
                    alt="Imagen de la receta"
                    loading="lazy">
              
              <!-- <div class="recipe-image rounded-end "
              [ngStyle]="{'background-image': 'url(' + recipe.imagen + ')'}"> 
                   </div>
            -->
              
              
              
              
              <!-- <div class="recipe-image" [style.background-image]="'url(' + recipe.imagen + ')'" ></div> -->

              <!--  <img class="recipe-img  img-fluid" src='{{recipe.imagen}}' class="card-img img-fluid float-right h-100" alt="Imagen de la receta">  -->
            </div>
          </div>
        </div>
      </div>
      <!-- End of card block -->
    </div>

  </ng-template>


    


  </div>
  



