
p{
    font-size: small;
}
.recipe-img{ 
    height: auto;
    display: block;
    margin: 0 auto;
    /* width: 100%; */
    /* padding: 20px; */
}
.recipe-image{
    background-repeat: no-repeat;
    min-height: 150px;
    height: 100%;
    background-position:  center center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    margin: 0 auto;
    padding: 1;
}

.custom-spinner {
    width: 1.5rem;
    height: 1.5rem;
  }
@media (min-width: 770px) {
    p{
        font-size:medium;
    }
}
 .card-recipe{
    cursor: pointer;

} 
/* .list-recipes{
    max-width: 700px !important;
} */