.card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    
    .card-body {
    padding: 2rem;
    }
    
    h1.card-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    }
    
    h2.card-subtitle {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    }
    
    p.card-text {
    font-size: 1.2rem;
    }
    
    .list-group-item {
    font-size: 1.2rem;
    }
    
    .list-group {
    padding: 0;
    margin-bottom: 0;
    }
    
     .img-fluid {
    max-width: 100%;
    height: auto;
    position: relative;
    }  
   
    
    .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    }
    
    .col-md-6 {
    width: 50%;
    }

    .heart-icon{
        position: absolute;
        font-size: 1.5rem;
        color: whitesmoke;
        cursor: pointer;
    }
    .heart-icon.clicked {
        animation: fillHeart 0.5s forwards;
        color: red;
    }
    .heart-container {
       
            position: absolute;
            top: 5px;
            left: 17px;
          
      }
      .confetti {
        position: absolute;
        top: 15px;
        left: 10px;
        width: 2px;
        height: 2px;
        background-color: var(--confetti-color, red);
        border-radius: 20%;
        animation: confetti 0.5s linear ;
        transform-origin: center;
      }
    


    @keyframes fillHeart {
        0% {
          color: red;
          transform: scale(0.2);
        }
        50% {
          color: red;
          transform: scale(1.1);
        }
        100% {
          color: red;
          transform: scale(1);
        }
      }
      @keyframes confetti {
        0% {
          transform: rotate(calc(360deg * var(--i, 0) / 8)) translateY(-5px) rotate(calc(-360deg * var(--i, 0) / 8));
          background-color: var(--confetti-color,yellow);
        }
        100% {
          transform: rotate(calc(360deg * var(--i, 0) / 8)) translateY(-20px) rotate(calc(-360deg * var(--i, 0) / 8));
          background-color: var(--confetti-color,red);
          
        }
      }
      
      
      
      
      
      
      
    
    @media (max-width: 768px) {
    .row {
    flex-direction: column;
    }
    
    .col-md-6 {
    width: 100%;
    }
    
    h1.card-title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    }
    
    h2.card-subtitle {
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    }
    
    p.card-text {
    font-size: 1rem;
    }
    
    .list-group-item {
    font-size: 1rem;
    }

    }