
<div class="container mt-3 pb-5" *ngIf="currentRecipe" >
    <div class="card no-padding " >
      <div class="card-body pt-0 ps-3 pe-2 me-1 ">
        <div class="row align-items-start">
          <div class="col-md-7  p-0" style="height: auto">
            <div style="position:relative">
              <div class="image-container rounded-top">
              <img class="img-fluid no-margin "
              Onerror="this.src='../../../../assets/imagenes_recetas/plato.jpg'"
              [src]="currentRecipe.imagen" alt="Recipe Image" />
              
              <div class="heart-container">
              
              <i class="bi bi-heart heart-icon"
              [ngClass]="{'bi-heart': !heartClicked, 'bi-heart-fill': heartClicked, 'heart-icon': true, 'clicked': heartClicked}"
              (click)="onHeartClick()"
                ></i>
               <ng-container *ngIf="heartClicked">
                <div class="confetti" [ngStyle]="{'--i': i}" *ngFor="let i of [0, 1, 2, 3, 4, 5, 6, 7]"></div>
              </ng-container> 

              </div>
            </div>
            </div>
            <div class="d-flex justify-content-between align-items-center" style="max-width: 600px;">
              <div class="button-container py-2 ps-2 ">
                <button class="btn btn-success me-2"
                style="width: 100px;"
                        (click)="changeState()">{{estadoRecipe}}</button>
                <button class="btn btn-white border-dark me-2"
                        ><i class="bi bi-share"></i></button>
                <button class="btn btn-white border-dark me-0" (click)="printPage()"
                        > <i class="bi bi-printer"></i></button>
                <!-- <button class="btn btn-danger" (click)="removeFromFavs(currentRecipe.id)">Borrar</button> -->
              </div>
              <div class="pe-2 text-center">
                
                <p>{{this.currentRecipe.likes}} <strong>hearts</strong></p>
              </div>

            </div>
            
            
          </div>
          <div class="col-md-5">
            <h1 class="card-title fw-bold mb-3 pt-2">{{ currentRecipe.nombre }}</h1>
            <p class="card-text fs-5 mb-4">{{ currentRecipe.descripcion }}</p>
            <div class="d-flex ">
              <p class="card-text me-3"><i class="bi bi-person"></i>{{currentRecipe.porciones}}</p>
              <p class="card-text"><i class="bi bi-clock"></i> {{currentRecipe.tiempoPreparacion}} min </p>
            </div>
            <h2 class="card-subtitle fw-bold mb-3">Ingredientes</h2>
            <ul class="list-group mb-4">
              <li class="list-group-item" *ngFor="let ingredient of currentRecipe.ingredientes">{{ ingredient }}</li>
            </ul>
            <h2 class="card-subtitle fw-bold mb-3">Pasos</h2>
            <ol class="list-group">
              <li class="list-group-item" *ngFor="let instruction of currentRecipe.pasos">{{ instruction }}</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  
  
  
  
  

    <!-- <div class="container mt-5" *ngIf="currentRecipe">
        <div class="row">
          <div class="col-md-6">
            <img class="img-fluid" [src]="currentRecipe.imagen" alt="Recipe Image" />
          </div>
          <div class="col-md-6">
            <h1 class="fw-bold mb-3">{{ currentRecipe.nombre }}</h1>
            <p class="fs-5 mb-4">{{ currentRecipe.descripcion }}</p>
            <h2 class="fw-bold mb-3">Ingredientes</h2>
            <ul class="list-group mb-4">
              <li class="list-group-item" *ngFor="let ingredient of currentRecipe.ingredientes">{{ ingredient }}</li>
            </ul>
            <h2 class="fw-bold mb-3">Pasos</h2>
            <ol class="list-group">
              <li class="list-group-item" *ngFor="let instruction of currentRecipe.pasos">{{ instruction }}</li>
            </ol>
          </div>
        </div>
      </div> -->



