
@import '../node_modules/bootstrap-icons/font/bootstrap-icons.css';

body,
html {
  height: 100%;
}


.bg-food{
    
    /*  position: fixed;  */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('./assets/bg-v.1.1.6.png');
    background-size: 200px;
    
    animation: animateBackground 30s linear infinite;
  }
  
  @keyframes animateBackground {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 0 -100%;
    }
  }




