<!-- <p>footer works!</p> -->

    <footer class="container pt-5 custom-footer" >
      <div class="row">
        <div class="col-12">
          <div class="social-icons text-center">
            <a ><i class="bi bi-facebook bi-5x"></i></a>
            <a ><i class="bi bi-instagram px-3 bi-5x"></i></a>
            <a ><i class="bi bi-youtube bi-5x"></i></a>
          </div>
          <p class="text-center">© La caserita 2023 Todos los derechos reservados.</p>
        </div>
      </div>
    </footer>
 
  
